<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.ms.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.yl.ms.entity.SysUser">
    <!--@mbg.generated-->
    <!--@Table sys_user-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="makeDate" jdbcType="VARCHAR" property="makeDate" />
    <result column="makeTime" jdbcType="VARCHAR" property="makeTime" />
    <result column="modifyDate" jdbcType="VARCHAR" property="modifyDate" />
    <result column="modifyTime" jdbcType="VARCHAR" property="modifytime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_code, user_name, `password`, email, mobile, address, phone, `status`, makeDate, 
    makeTime, modifyDate, modifyTime
  </sql>
</mapper>