package ${packageName}.controller.sys;


import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import ${packageName}.entity.${ClassName};
import ${packageName}.service.${ClassName}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.transaction.annotation.Transactional;
import org.springframework.web.bind.annotation.*;

import java.util.HashMap;
import java.util.List;
import java.util.Objects;


/**
 * @author yl
 */

@RequestMapping("/${classMapping}")
@Controller
public class ${ClassName}Controller {

    @Autowired
    private ${ClassName}Service ${className}Service;


    @GetMapping("/list")
    @ResponseBody
    public HashMap<String,Object> findListPages(${ClassName} ${className},@RequestParam(required = false,value = "pageNum", defaultValue = "1") Integer pageNum,
                                               @RequestParam(required = false,value = "pageSize",defaultValue = "10") Integer pageSize){

        HashMap<String,Object> map = new HashMap<>(4);

        IPage<SysUser> iPage = sysUserService.findListPages(${className}, pageNum, pageSize);
        map.put("iPage",iPage);
        return map;
    }


    @PostMapping("/add${ClassName}")
    @Transactional
    @ResponseBody
    public HashMap<String,Object> add${ClassName}(@RequestBody ${ClassName} ${className}){
        HashMap<String,Object> map = new HashMap<>(4);
        boolean flag = sysUserService.save(${className});
        map.put("flag",flag);
        map.put("mes","添加成功");
        return map;
    }
    @DeleteMapping("/delete${ClassName}")
    @ResponseBody
    public HashMap<String,Object> delete${ClassName}ById(Integer id){

        HashMap<String,Object> map = new HashMap<>(4);
        QueryWrapper<${ClassName}> queryWrapper = new QueryWrapper<>();
        queryWrapper.eq("id",id);
        SysUser one = ${className}Service.getOne(queryWrapper);
        if (Objects.isNull(one)){
            map.put("flag",false);
            map.put("mes","未查询到该对象");

        }else {
            ${className}Service.remove(queryWrapper);
            map.put("flag",true);
            map.put("mes","删除成功");
        }

        return map;
    }
    @PutMapping("/mofidy${ClassName}")
    @ResponseBody
    public HashMap<String,Object> modifySysUser(@RequestBody ${ClassName} ${className}){
        HashMap<String,Object> map = new HashMap<>(4);
        boolean flag = ${className}Service.updateById(${className});
        map.put("flag",flag);
        return map;
    }

}

